@import '@/styles/main.scss';

.text {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: $c-text;
}

.text_white {
    color: #FFFFFF;
}

.text_orange {    
    color: #E2A100;
}

.base {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $c-white;
}

.skills {
    font-size: 24px;
    line-height: 29px;
}

.button {
    font-weight: 700;
    line-height: 20px;
    color: $c-black;
}

.icon {
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: $c-primary;
}