$primary: #00D639;
$secondary: #E2A300;
$text-color: #E4E4E4;

$bg-1: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
$bg-2: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);

$white: #ffffff;
$black: #000000;