@import '@/styles/main.scss';

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_column {
        flex-direction: column;
    }
}

.link {
    text-decoration: none;
    position: relative;
    
    &:hover {
        & > * {
            color: $white;
        }

        &::after {
            width: 100%;
        }
    }

    &::after {
        content: '';
        width: 0;
        height: 1px;
        background: $secondary;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .2s;
    }
}