@import '@/styles/main.scss';

.title {
    font-family: $ff-inter;
    color: $text-color;
}

.h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
}

.h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
}

.h3 {
    font-family: $ff-overpass;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: $white;
}